.footer {
  padding: 60px 0 28px 0;
  background: #221F20;
	border-radius: 65px 65px 0 0;
  // .footer__container
  &__container {
    display: flex;
    align-items: center; 
  }
  // .footer__row
  &__row {
    width: 100%;
    justify-content: space-between; 
    flex-wrap: wrap;
  }
  
}







