@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins"; 
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

// @import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Inter";
$fontSize: 16; 
$fontWeight: 400;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>======================================================================================================= 

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1420;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #221F20;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	font-weight: $fontWeight;
	color: $mainColor;
	// background: #333;

	a {
		font-family: "Inter";
		color: #161615;
	}

	&._lock {
		overflow: hidden;
		touch-action: none;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ЗАГОЛОВКИ>=================================================================================================================
h1 {
	font-size: 35px;
	font-weight: 500;
	line-height: 52.8 / 35 *100%;
}

h2 {
	font-size: 60px;
	line-height: 50 / 60 *100%;
}

h3 {
	font-size: 28px;
	font-weight: 500;
	line-height: 38px;
}

h4 {
	font-size: 25px;
	font-weight: 500;
	line-height: 38px;
}

.title {
	margin-bottom: 40px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 24px;
	}
}

//<ЗАГОЛОВКИ>=================================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	// min-height: 200vh;
	// position: relative;
	&._loaded {}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	// @media (max-width: $md1 + px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox";
@import "datepicker";
@import "lightgallery";
//@import "popover.min";
//@import "baguetteBox";
// @import "fancybox.min";
//@import "pagging";
// @import "map";
// @import "slider-index";
// @import "catalog";
// @import "collection";
@import "tippy";
@import "nouislider";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	// padding: 35px 0; 
	// padding-top: 80px;
}

.section {
	padding: 80px 0;
}

//===================================================================================================================================

.main-banner {
	padding: 150px 0;
	min-height: 600px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	background-image: url('../img/main-banner');
}

.main-banner__title {}

.main-banner__subtitle {}

//========================================================================================================================================================
.our-clients__subtitle {
	font-size: 26px;
	line-height: 42px;
}
.our-clients__inner {
	flex-wrap: wrap;
	margin: 56px -20px 0 -20px;
}
.our-clients__column {
	display: flex;
	flex: 0 1 25%;
	padding: 0 10px 20px 10px;
}
.our-clients__card {
	flex: 0 1 100%;
	height: 260px;
	padding: 27px 30px;
	background: #000;
	border-radius: 30px;
	overflow: hidden;
	background-position: 130% 100%;
	background-size: contain;
	background-repeat: no-repeat;
}
.our-clients__card-text {
	font-size: 20px;
	line-height: 30px;
	color: #fff;
}
.our-clients__card_01 {
	background-image: url('../img/our-clients/01.png');
}
.our-clients__card_02 {
	background-image: url('../img/our-clients/02.png');
}
.our-clients__card_03 {
	background-image: url('../img/our-clients/03.png');
}
.our-clients__card_04 {
	background-image: url('../img/our-clients/04.png');
}
//</ОСНОВНОЙ БЛОК>====================================================================================================


//========================================================================================================================================================

//<Адаптив>===========================================================================================================================================
@import "media";