<div class="catalog-entity-table-card lc-table-card">

	<div class="lc-table-card__header">

		<div class="lc-table-card__header-title-block">
			<div class="lc-table-card__header-title title-small">
				Заказ № 5503240
			</div>
			<div class="lc-table-card__header-sticker">
				<span class="sticker-product sticker-product_green">создан</span>
			</div>
		</div>

		<div class="lc-table-card__header-btn-block">

			<button data-tippy-content="" type="button" class="btn-icon-big">
				<svg class="btn-icon-big__icon">
					<use xlink:href="#copy-icon"></use>
				</svg>
			</button>

			<button data-tippy-content="" type="button" class="btn-icon-big">
				<svg class="btn-icon-big__icon">
					<use xlink:href="#urn-delete"></use>
				</svg>
			</button>

		</div>

	</div>

	<div class="lc-table-card__body">
		<table class="table">
			<thead>
				<tr>
					<th>Артикул</th>
					<th>Наименование</th>
					<th>Производитель</th>
					<th>Вес, кг</th>
					<th>Цена за 1 ед.</th>
					<th>Количество, шт.</th>
					<th>Итого с НДС</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div>5503240</div>
						<!-- <div class="sticker-product sticker-product_crem">
							прослеживаемый товар
						</div> -->
					</td>
					<td>Какао порошок темно-красный 100% "Cacao Barry" Extra Brute алкализованный </td>
					<td>Фабрика Сладкого Декора</td>
					<td>2</td>
					<td><span class="table__price rub">1 375.00</span></td>
					<td>5</td>
					<td><span class="table__price rub">6 875.00</span></td>
				</tr>
				<tr>
					<td>
						<div>5503240</div>
						<!-- <div class="sticker-product sticker-product_crem">
							прослеживаемый товар
						</div> -->
					</td>
					<td>Какао порошок темно-красный 100% "Cacao Barry" Extra Brute алкализованный </td>
					<td>Фабрика Сладкого Декора</td>
					<td>2</td>
					<td><span class="table__price rub">1 375.00</span></td>
					<td>5</td>
					<td><span class="table__price rub">6 875.00</span></td>
				</tr>
				<tr>
					<td>
						<div>5503240</div>
						<!-- <div class="sticker-product sticker-product_crem">
							прослеживаемый товар
						</div> -->
					</td>
					<td>Какао порошок темно-красный 100% "Cacao Barry" Extra Brute алкализованный </td>
					<td>Фабрика Сладкого Декора</td>
					<td>2</td>
					<td><span class="table__price rub">1 375.00</span></td>
					<td>5</td>
					<td><span class="table__price rub">6 875.00</span></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="lc-table-card__footer">

		<div class="lc-table-card__footer-info">

			<div class="lc-table-card__footer-row">
				<div class="lc-table-card__footer-info-name">Итого с НДС <span class="rub">2 200.00</span></div>
			</div>

			<div class="lc-table-card__footer-row">
				<div class="formed-card__text-row">
					Создан 15.10.2022
				</div>
			</div>

			<div class="lc-table-card__footer-row lc-table-card__footer-row--flex">
				<div class="formed-card__row">
					<div class="formed-card__text-row">
						Доставка транспортом Алтайком: <span>Алтайский край, г.Барнаул, ул.Ленина, д.15</span>
					</div>
					<div class="formed-card__text-row">
						Оплата: <span>Предоплата, банковский счет</span>
					</div>
				</div>
				<span class="sticker-product sticker-product_green">Бесплатно</span>
			</div>

			<div class="lc-table-card__footer-row">
				<!-- <div class="formed-card__row"> -->
					<div class="formed-card__text-row">
						Доставка: <span>17 октября 2022</span> 
					</div>
				<!-- </div> -->
			</div>

			<button type="button" class="lc-table-card__footer-btn btn btn_black">оплатить заказ</button>

		</div>

	</div>

</div>