// <RATING>
// Снипет (HTML): rating
.full-stars {
	// text-align: center;
}
.full-stars .rating-group {
	display: inline-flex;
}
.full-stars input {
	position: absolute;
	left: -9999px;
}
.full-stars label {
	margin: 0;
	cursor: pointer;
}
.full-stars label svg {
	margin: 2px;
	height: 22px;
	width: 23px;
	fill: #C5934F;
	transition: fill 0.3s;
}
.full-stars input:checked ~ label svg {
	fill: #DDDDDD;
}
.full-stars .rating-group:hover label svg {
	fill: #C5934F;
}
.full-stars .rating-group input:hover ~ label svg {
	fill: #DDDDDD;
}